<app-back-button text="Colaboraciones" />

@if (item; as entity) {
  <div class="row">
    <div class="col-xs-12">
      @if (entity.imagen) {
        <div class="noticia_imagen">
          <img width="100%" [src]="adjuntos.url(entity.imagen)" />
        </div>
      }
      <p class="noticia_fecha show">{{ entity.fechaInicioPublicacion | dateToStr }}</p>
      <p class="noticia_titulo show">{{ entity.titulo }}</p>
      <p class="colaboracion_autores">{{ entity.autores }}</p>
      <br />
      <div class="noticia_noticia">{{ entity.textoCompleto }}</div>
    </div>
  </div>
}
